.nav {
    display: inline; 
}
/*как выставить относительный пункт папкой выше?*/
body {
    background-image: url("img/wallpaper.jpeg");
    background-repeat: repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: 20rem;
}