.nav {
    display: inline; 
}
/*как выставить относительный пункт папкой выше?*/
body {
    background-image: url("/Users/473126/Desktop/html-homework/img/1.jpg"); 
    background-repeat: repeat; <!--background-position: ; background-attachment: ; background-size: ;-->
}